<nav class="nav">
      <img src="./src/assets/img/menu-icon.png" class="menu-icons menu-btn" />
      <a href="/">
        <h1 class="hover">WatermelonCode</h1>
      </a>
      <ul>
        <img src="./src/assets/img/close-icon.png" class="menu-icons close-btn" />
        <li><a class="menu__link" href="#">Inicio</a></li>
        <li><a class="menu__link" href="#talleres">Eventos</a></li>
        <li><a class="menu__link" href="#comunidad">Comunidad</a></li>
        <li><a class="menu__link" href="#contacto">Contacto</a></li>
      </ul>
    </nav>
    