@use 'mixins'as mix;

@media only screen and (min-width:729px) {

    .menu-icons {
        display: none;
    }

    .header div {
        margin-right: 50px;
    }
}

@media only screen and (max-width:729px) {

    .header {
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;

        div {
            @include mix.flex(center, center, column)
        }
    }

    /*Mobile*/
    .menu-icons {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav ul {
        flex-direction: column;
        background-color: #111;
        box-shadow: -200px 0px 200px #000a;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 20;
        padding: 20px;
        width: 200px;
        display: none;
    }

    .nav__btn {
        width: 40px;
        height: 40px;
        margin-top: -5px;
    }

    .nav li {
        margin-top: 15px;
    }

    .showMenu {
        display: flex !important;
    }

    .header img {
        margin-top: 50px;
    }

    body {
        text-align: center;
    }
}