@use 'variables'as vars;
@use 'mixins'as mix;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

// TODO: REFACTOR SCSS

.title {
    font-size: calc(2rem + 1vmin);
    white-space: nowrap;
    border-right: 10px solid;
    width: 14ch;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.article {
    @include mix.flex(center, center, row);
}

.header {
    @include mix.flex(center, center, row);
    margin-top: 150px;
    margin-bottom: 150px;

    .title {
        box-sizing: content-box;
    }
}

.header p {
    font-size: 1.5rem;
    color: #ddd;
}

section {
    margin-top: 200px;
    margin-bottom: 200px;
}

p {
    font-size: 1.1rem;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.more-text,
section>h2 {
    padding: 20px 0;
}

section a {
    display: block;
    width: 250px;
    margin: 30px auto;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.counter {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    background: no-repeat url("../img/background.png");
    background-size: cover;
    justify-content: center;
    padding: 20px 0;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.counter div {
    width: 200px;
    text-align: center;
}

.counter p {
    font-size: 2rem;
}

.container-equipo,
.counter p {
    margin: 0;
}

.btn {
    background-color: vars.$orange;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    box-shadow: vars.$shadow-1;
}

img {
    width: 300px;
    height: 300px;
}

.header img {
    border-radius: 200px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav ul a {
    padding: 10px;
    font-size: 1.2rem;
}

.nav ul {
    display: flex;
}

.nav li:hover {
    border-bottom: 1px solid vars.$orange;
}

.nav li:hover>a,
.hover:hover>a {
    color: vars.$orange;
}

.nav li:first-child {
    border-left: none;
}

.nav h1 {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #141414;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

section>div {
    width: 400px;
}

section img {
    transition: all 2s;
    width: 400px;
    object-fit: contain;
}

.paragraph {
    text-align: center;
    color: #ddd;
    font-size: 2rem;
}

.animation {
    animation: cargar_imagen 2s;
    animation-iteration-count: infinite;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 200px));
    grid-auto-rows: 380px;
    grid-gap: 70px;
    justify-content: center;
}

.card {
    box-shadow: 0px 0px 20px #000a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.roles p {
    display: inline;
    padding: 5px;
}

.blue {
    background-color: #3ad;
}

.card img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.more-text {
    text-align: center;
    margin: 10px;
    font-size: 1.4rem;
}

.footer {
    border-top: 1px solid #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.contacto img {
    width: 300px;
    height: 250px;
}

section h2 {
    margin: 10px 0;
}